<section id="aboutme" class="mt-20">
    <h1 class="text-xl text-white mb-6">About me</h1>
    <p class="mt-6 text-white opacity-90 max-w-4xl text-center">
        I am Diego Andrés Salcedo Romero, 21 years old, and I am passionate about learning and the technologies that have transformed our lifestyle. Originally from Colombia, I enjoy taking on new challenges to develop my skills. Throughout my life, I have stood out as a responsible and proactive person. I began my studies as a Software Programming Technician at SENA, where I completed my internship at a company that allowed me to apply and expand my knowledge. Currently, I work as a freelancer and self-taught student, developing personal and client projects that address real-world needs.
    </p>
</section>
