<section>
    <article class="text-gray-300 pt-4 font-home max-w-2xl">
        <p>
            Hello, I am <span class="font-bold">Diego Andrés Salcedo</span>,
Full Stack Software Programming Technician with  +8 months of experience in creating innovative and efficient solutions. Originally from Sahagún, Colombia, I am passionate about continuous learning, taking on new challenges, and I strive to stay at the forefront and implement best practices.
        </p>
    </article>
    <div id="projects"></div>
</section>

<style>
    .font-home {
        font-size: 18px;
    }
</style>