---
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Diego Salcedo | Dev</title>
		<meta name="description" content="Portafolio de Diego Andrés Salcedo Romero - Full Stack Developer" >
		<meta name="keywords" content="Desarrollo web, Crear pagina web, ingeniero de software, Diego Andrés, Diego Salcedo, Diego Salcedo Romero, Diego Andrés Salcedo, Diego Andrés Salcedo Romero, Php, TypeScript, Astro, JavaScript, Backend, Frontend">
		
		<meta property="og:title" content="Diego Salcedo">
		<meta property="og:description" content="Portfolio Diego Andrés Salcedo | Full Stack Developer" />
		<meta name="image" property="og:image" content="https://diego-dev-eight.vercel.app/portafolio_diego_salcedo.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Diego Salcedo" />
		<meta property="author" content="Diego Salcedo Romero" />

		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>


<style>
	:root {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #151515;
		scroll-behavior: smooth;
	}
</style>
